# app port
PORT=8000

# db config
DB_HOST=your-host
DB_NAME=your-db-name
DB_PORT=your-db-port
DB_USER=your-db-user
DB_PASSWORD=your-db-password

# token secrets
ACCESS_TOKEN_SECRET=token-secret
ACCESS_TOKEN_EXPIRY=30m

REFRESH_TOKEN_SECRET=refresh-secret
REFRESH_TOKEN_EXPIRY=30d

# node environment
NODE_ENV="local"
# NODE_ENV="production"

# AWS credentials
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=your-aws-region
AWS_S3_BUCKET_NAME=your-bucket-name

# Client Domian
CLIENT_URL=http://localhost:5173
